* {
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
}

.title {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}

.board {
  width: 70vmin;
  height: 70vmin;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #000000;
}

.cell {
  width: 48%;
  height: 48%;
  margin: 1%;
  background-color: rgb(12, 243, 4);
}

.character {
  width: 50%;
  height: 50%;
  margin: 25%;
  background-image: url('../images/goblin.png');
  background-repeat: no-repeat;
  background-size: cover;

}

